{
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "tailwindStylesheet": "./frontend/src/styles/App.css",
  "plugins": ["prettier-plugin-organize-imports"]
}
