@import 'tailwindcss';

@theme {
  --color-accent: oklch(0.56 0.2 30);
  --color-accent-secondary: oklch(41.098% 0.16466 28.698);

  --color-label: oklch(92.176% 0.0232 48.285);
  --color-label-muted: oklch(61.824% 0.01582 17.345);

  --color-background: oklch(0.15 0.005 39);
  --color-background-secondary: oklch(19.332% 0.00918 75.047);

  --color-stroke: rgba(255, 255, 255, 0.1);
}
