@font-face {
  font-family: 'Formula 1';
  font-display: block;
  src: url('/fonts/f1/f1_regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Formula 1';
  font-display: block;
  src: url('/fonts/f1/f1_bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Formula 1';
  font-display: block;
  src: url('/fonts/f1/f1_italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Formula 1';
  font-display: block;
  src: url('/fonts/f1/f1_black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Formula 1';
  font-display: block;
  src: url('/fonts/f1/f1_wide.ttf') format('truetype');
  font-stretch: expanded;
}

@font-face {
  font-family: 'Formula 1 Year';
  font-display: block;
  src: url('/fonts/f1_year.ttf') format('truetype');
}
